* {
  margin: 0;
  padding: 0;

}

body {
  background-color: rgba(255, 144, 113, 0.5);
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Roboto Serif', serif;
  text-transform: uppercase;
  color: #2D2C2A;
  border: none;
  border-radius: 10px;
}

ul {
  list-style: none;
}

header {
  padding: 32px 0;
  text-align: center;
}

header h1 {
  margin-bottom: 4px;
  font-size: 28px;
  line-height: 33px;
}

header,
section {
  max-width: 300px;
  margin: 0 auto;
}

header h1 span {
  color: rgb(255, 144, 113);
}

header p {
  font-size: 14px;
  line-height: 16px;
}

section {
  margin-bottom: 24px;
}

section h2 {
  background-color: rgba(255, 144, 113, 0.4);
  padding: 8px 16px;
  text-align: center;
  margin-bottom: 24px;
  font-size: 18px;
}


li .details {
  max-width: 240px;
}

.details h3 {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 19px;
}


#btn-insta,
#wpp-btn,
#btn-glg,
#btn-shopee {
  height: 30px;
}

.description {
  display: flex;
  flex-direction: row;

}

.container {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.details p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 21px;

}